:root {
  --accent-clr: #6cb52d;
}

[class*="__container"] {
  max-width: 980px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

@media (max-width: 999px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 10px;
  }
}
