.state {
  width: 100%;
  display: block;
}

.state.active {
  display: block;
}

.state__body {
  width: 100%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.state__icon {
  width: 100px;
}

.state__icon img {
  max-width: 100%;
}

.state__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.state__content h2 {
  font-size: 1.5rem;
  color: rgb(86, 86, 86);
}

.state__content p {
  color: rgb(86, 86, 86);
}
