.hello {
     padding: 100px 0 20px;
}

.hello__container {
     display: flex;
     flex-direction: column;
     gap: 30px;
}

.hello__title {
     font-size: 4rem;
     font-weight: 700;
}

.hello__text {
     font-size: 1.5rem;
     line-height: 2.2rem;

     max-width: 1000px;
}

.main__projects {
     background-color: #ebf2f2;
}

.projects {
     padding: 30px 0;
}

.projects__container {
     padding: 0 50px;
}

.projects__list {
     display: flex;
     flex-wrap: wrap;
     justify-content: stretch;
}

.projects__item {
     padding: 0.7rem;
     flex: 0 0 50%;
}

.projetcs__body {
     display: flex;
     gap: 25px;

     height: 100%;

     padding: 20px 20px 40px;
     background-color: #fff;
     border: 1px solid #d9e9e9;

     transition-property: box-shadow, transform;
     transition-duration: .2s;
     transition-timing-function: ease;
}

.projects__image {
     flex: 0 0 60px;
     height: 60px;
}

.projects__image img {
     width: 100%;
     height: 100%;
}

.projects__info {
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.projects__title {
     font-size: 1.5rem;
     font-weight: 700;
}

.projects__text {
     font-size: 1rem;
     line-height: 1.7;
}



@media (max-width: 999px) {

     .hello {
          padding: 50px 0 20px;
     }

     .hello__container {
          gap: 15px;
     }

     .hello__title {
          font-size: 2rem;
     }

     .hello__text {
          font-size: 1rem;
          line-height: 2rem;
     }

     .projects__container {
          padding: 0 5px;
     }

     .projects__item {
          padding: 0.3rem;
          flex: 0 0 50%;
     }
}

@media (max-width: 799px) {
     .projects__item {
          flex: 1 0 100%;
          padding: 0.3rem;
     }

     .projects__title {
          font-size: 1.2rem;
          line-height: 150%;
     }

     .projects__text {
          font-size: 1rem;
     }
}

@media (min-width: 900px) {
     .projetcs__body:hover {
          box-shadow: 0 10px 30px 0 rgba(108, 135, 135, .5);
          transform: translateY(-10px);
     }
}