.form__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__item label {
  font-size: 1rem;
  padding-left: 10px;
  font-weight: 600;
  color: #a0a0a0;
}

@media (max-width: 520px) {
  .form__body {
    gap: 20px;
  }
}
