.empty {
  width: 100%;
  display: none;
}

.empty.active {
  display: block;
}

.empty__body {
  width: 100%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.empty__icon {
  width: 100px;
}

.empty__icon svg {
  fill: rgb(86, 86, 86);
}

.empty__icon img {
  max-width: 100%;
}

.empty__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.empty__content h2 {
  font-size: 1.5rem;
  color: rgb(86, 86, 86);
}

.empty__content p {
  color: rgb(86, 86, 86);
}
