.menu__element {
     display: flex;
     justify-content: center;
     align-items: center;

     position: relative;
}

.menu__element>span {
     font-weight: 600;
     position: relative;
     cursor: pointer;
     font-size: .95rem;

     display: inline-block;
}

.menu__element>span::after {
     content: ' ';
     display: inline-block;

     height: .5rem;
     width: .5rem;

     border: 3px solid transparent;

     border-bottom: 2px solid #000;
     border-left: 2px solid #000;
     border-radius: 1px;

     transform: rotate(-45deg) translateY(-50%);
     transform-origin: center;

     margin-left: 10px;
}

.menu__element:hover>.sub-menu {
     opacity: 1;
     visibility: visible;
     pointer-events: all;

     transform: translateY(0);
}

@media (max-width: 899px)
{

	.menu__element {
          display: inline-block;
          width: 100%;
     }

	.menu__element>span {
          font-size: 2rem;
          color: #fff;

          position: relative;

          width: 100%;
     }

	.menu__element>span::after {
          border-bottom-color: #fff;

          border-left-color: #fff;
          border-width: 0px 0px 1px 1px;

          position: absolute;
          right: 8px;
          top: 50%;
          transform: rotate(-45deg) translateY(-100%);
     }

	.menu__element.active>.sub-menu {
          display: flex;
     }
}