.app__button {
  width: 100%;
  padding: 10px 20px;

  background-color: var(--accent-clr);
  border: 2px solid var(--accent-clr);
  border-radius: 10px;
  color: #fff;

  font-size: 1.2rem;

  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.app__button:hover {
  background-color: transparent;
  color: var(--accent-clr);
}
.app__button:disabled {
  border-color: #a0a0a0;
  background-color: #a0a0a0;
  color: #fff;
  cursor: auto;
}
