@media (min-width: 900px) {
  .menu__icon {
    display: none;
  }
}

@media (max-width: 899px) {
  .menu__icon {
    width: 25px;
    height: 15px;

    position: relative;
    z-index: 31;
  }

  .menu__icon > div {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
  }

  .menu__icon.active > div {
    background-color: #fff;
  }

  .menu__icon > div:first-child {
    top: 0;
  }

  .menu__icon > div:nth-child(2),
  .menu__icon > div:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);

    transition: transform 0.3s ease;
  }

  .menu__icon > div:last-child {
    bottom: 0;
  }

  .menu__icon > div:first-child,
  .menu__icon > div:last-child {
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  .menu__icon.active > div:first-child,
  .menu__icon.active > div:last-child {
    opacity: 0;
  }

  .menu__icon.active > div:first-child {
    transform: translateX(-30px);
  }

  .menu__icon.active > div:last-child {
    transform: translateX(30px);
  }

  .menu__icon.active > div:nth-child(2) {
    transform: translateY(-50%) rotate(45deg);
  }

  .menu__icon.active > div:nth-child(3) {
    transform: translateY(-50%) rotate(-45deg);
  }
}
