.header {
  height: 80px;

  position: relative;
}

.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(231, 231, 231);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}

@media (max-width: 999px) {
  .header {
    height: 60px;
  }
}

@media (max-width: 899px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
  }
}
